body{margin: 0;}
.container {
    margin: 0px 100px 100px;
}
html{background-image: url(fon.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-line{display: flex; align-items: center;}
.ul{color: rgb(255, 48, 48);}